$main-color-lightly: #FFCCCC;
$main-color: #F90001;
$secondary-color: #AD1111;
$yellow: #FAF719;
$gray: #C6C6C6;
$gray-dark: #707070;

$wight-base: 1366px;
$wight-percent: 100%;

@mixin animation_0_25 {
  transition: all .25s ease-out;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
}