/*
Error: Undefined variable: "$accent-color".
        on line 97 of template_styles.scss

92: }
93: 
94: .link-white {
95:   color: white;
96:   &:hover {
97:     color: $accent-color;
98:   }
99: }
100: 
101: .link-red {
102:   color: $main-color;

Backtrace:
template_styles.scss:97
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
/Users/mac/.rvm/gems/ruby-2.7.0/bin/ruby_executable_hooks:24:in `eval'
/Users/mac/.rvm/gems/ruby-2.7.0/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$accent-color\".\A         on line 97 of template_styles.scss\A \A 92: }\A 93: \A 94: .link-white {\A 95:   color: white;\A 96:   &:hover {\A 97:     color: $accent-color;\A 98:   }\A 99: }\A 100: \A 101: .link-red {\A 102:   color: $main-color;"; }
