.blocks_items .blocks_item {
  /*    float: left;
      width: 380px;*/
  margin-top: 60px;
  min-height: 620px;
  transition: all .25s ease-out;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out; }
  .blocks_items .blocks_item .over_item {
    border: 1px gray solid;
    background: white; }
    .blocks_items .blocks_item .over_item:hover {
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.28);
      position: relative;
      z-index: 9; }
    .blocks_items .blocks_item .over_item .btn-default {
      background-image: linear-gradient(90deg, green 3%, green 99%);
      box-shadow: 0 3px 9px -3px rgba(0, 0, 0, 0.5);
      border-radius: 100px;
      font-size: 18px;
      color: white;
      padding: 10px 20px;
      border: 0px;
      transition: all .25s ease-out;
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
      font-family: FontAwesome, Arial;
      text-align: center;
      margin: 30px auto;
      width: 160px; }
    .blocks_items .blocks_item .over_item .btn-default:hover {
      background-image: linear-gradient(90deg, green 3%, green 99%); }
    .blocks_items .blocks_item .over_item a {
      display: block;
      width: 100%;
      height: 100%;
      color: green;
      padding: 0px 15px;
      /* overflow: hidden;*/ }
      .blocks_items .blocks_item .over_item a .image_item {
        height: 324px;
        margin-top: -20px;
        border: 1px #C6C6C6 solid;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.34); }
      .blocks_items .blocks_item .over_item a span {
        display: block;
        color: black;
        padding-top: 10px;
        text-align: center; }
      .blocks_items .blocks_item .over_item a h5 {
        font-family: Helvetica;
        font-size: 21px;
        color: green;
        text-align: center;
        margin: 10px 50px;
        height: 46px; }
      .blocks_items .blocks_item .over_item a:hover {
        text-decoration: none; }
        .blocks_items .blocks_item .over_item a:hover h5 {
          color: green; }
    .blocks_items .blocks_item .over_item .stars {
      padding: 10px 0px 0px 15px;
      position: relative;
      z-index: 100;
      border-top: 1px solid gray;
      margin: 10px 15px 0px; }
    .blocks_items .blocks_item .over_item .price {
      clear: both; }
      .blocks_items .blocks_item .over_item .price strong {
        display: block;
        padding: 10px 0px 10px 15px;
        text-align: center;
        font-size: 36px;
        color: green;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        margin: 10px 15px; }
        .blocks_items .blocks_item .over_item .price strong s {
          font-size: 12px;
          color: #C6C6C6; }
      .blocks_items .blocks_item .over_item .price .add_form {
        text-align: center; }
      .blocks_items .blocks_item .over_item .price button.h2o_add_favor {
        background: none;
        border: none;
        font-style: normal;
        color: green;
        font-size: 21px;
        margin: 0px 80px 30px; }
        .blocks_items .blocks_item .over_item .price button.h2o_add_favor:hover {
          color: green; }
    .blocks_items .blocks_item .over_item .price2 {
      clear: both; }
      .blocks_items .blocks_item .over_item .price2 .pricebl {
        display: block;
        padding: 10px 0px 10px 15px;
        text-align: center;
        font-size: 36px;
        color: green;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        margin: 10px 15px; }
        .blocks_items .blocks_item .over_item .price2 .pricebl s {
          font-size: 12px;
          color: gray; }
      .blocks_items .blocks_item .over_item .price2 .add_form {
        text-align: center; }
      .blocks_items .blocks_item .over_item .price2 input[type="submit"] {
        background-image: linear-gradient(90deg, green 3%, green 99%);
        box-shadow: 0 3px 9px -3px rgba(0, 0, 0, 0.5);
        border-radius: 100px;
        font-size: 18px;
        color: white;
        padding: 20px 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        border: 0px;
        transition: all .25s ease-out;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        font-family: FontAwesome, Arial; }
        .blocks_items .blocks_item .over_item .price2 input[type="submit"]:hover {
          background-image: linear-gradient(90deg, green 3%, green 99%);
          color: white; }
      .blocks_items .blocks_item .over_item .price2 button.h2o_add_favor {
        background: none;
        border: none;
        font-style: normal;
        color: green;
        font-size: 21px;
        margin: 0px 80px 30px; }
        .blocks_items .blocks_item .over_item .price2 button.h2o_add_favor:hover {
          color: green; }

/*# sourceMappingURL=style.css.map */
